body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
::selection {
  color: rgb(255, 89, 89);
  background-color: none;
}
.header-name {
  font-size: 30px;
}
.head-name {
  color: rgb(243, 106, 127);
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 30px 40px;
}
.half-width img {
  width: 80%;
}
.link-btn {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(rgb(233, 103, 168), rgb(221, 152, 164));
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 8px;
}
.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px 40px;
  text-align: justify;
  box-shadow: 10px 20px 50px gray;
  border-radius: 10px;
}
#full-web-dev {
  border-left: 10px solid;
  border-image: linear-gradient(salmon, rgb(255, 62, 158));
  border-image-slice: 1;
}
#baby-web-dev {
  border-left: 10px solid;
  border-image: linear-gradient(rgb(255, 70, 46), rgb(228, 255, 78));
  border-image-slice: 1;
}
footer p {
  text-align: center;
  margin-bottom: 30px;
}
